# Compile and linking settings

LANGUAGE=c++
LANGUAGE_STANDARD=11
COMPILER_COMMAND=clang++
ENABLE_DEBUG_INFO=true
ENABLE_OPTIMIZATION=true
COMPILE_DEFAULT_FLAGS=-Wall
LINKING_DEFAULT_FLAGS=-static

# File and directory settings

CREATE_OBJ_FILE=true
CREATE_BINARY_DIR=true
BINARY_FOLDER_NAME=out
CREATE_CORRESPONDING_DIR=false
SRC_ROOT_FOLDER_NAME=src
MAIN_SRC_FILE_NAME=main
MAIN_EXECUTABLE_FILE_NAME=main
MAIN_EXECUTABLE_FILE_PATH=out

# Make settings

CREATE_CLEAN_RULE=true

# Run settings

CREATE_RUN_SCRIPT=false

# Git settings

EXCLUDE_IN_GITIGNORE=true